.tri-right-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 10px solid;
  border-color: rgb(165, 180, 252, 1) transparent transparent transparent;
}

.tri-right-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 0px;
  bottom: auto;
  border: 10px solid;
  border-color: rgba(209, 213, 219,1) transparent transparent transparent;
}